<!DOCTYPE html>
<html>
    
<head>
    <title>kittify</title>
</head>

<body>
    <h1>kittify</h1>
    <p>
        <%= title %>
    </p>
    <img src="<%= image %>" alt="kitty image">
    <audio controls>
        <source src="<%= audio %>" type="audio/mpeg">
    </audio>
</body>

</html>