<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <div class="container">
        <h1>kittify ~ upload track</h1>
        <form id='form'>
            <div class="input-group">
                <label for='title'>track title</label>
                <input name='title' id='title' placeholder="enter track title" />
            </div>
            <div class="input-group">
                <label for='image'>track image</label>
                <input id='image' type="file">
            </div>
            <div class="input-group">
                <label for='audio'>track audio</label>
                <input id='audio' type="file">
            </div>
            <button class="submit-btn" type='submit'>Upload</button>
        </form>
    </div>
    <script src='../scripts/upload.js'></script>
</body>

</html>

